{
	"metadata" : {
		"apiVersion" : "2015-05-29",
		"serviceFullName" : "Via WebApi Service",
		"timestampFormat" : "iso8601",
		"protocol" : "rest-json",
		"endpointPrefix" : "blackbox",
		"jsonVersion" : "1.1"
	},
	"operations" : {
		"GetCatalogs" : {
			"name" : "GetCatalogs",
			"http" : {
				"method" : "GET",
				"requestUri" : "Catalogs"
			},
			"output" : {
				"shape" : "GetCatalogsOutput"
			}
		},
		"DeleteCatalogById" : {
			"name" : "DeleteCatalogById",
			"http" : {
				"method" : "DELETE",
				"requestUri" : "Catalogs\/{Id}"
			},
			"input" : {
				"shape" : "DeleteCatalogByIdInput"
			},
			"output" : {
				"shape" : "GetCatalogByIdOutput"
			}
		},
		"DeleteCatalogByForeignId" : {
			"name" : "DeleteCatalogByForeignIdId",
			"http" : {
				"method" : "DELETE",
				"requestUri" : "Catalogs?foreignId={ForeignId}"
			},
			"input" : {
				"shape" : "DeleteCatalogByForeignIdInput"
			},
			"output" : {
				"shape" : "GetCatalogByForeignIdOutput"
			}
		},
		"GetCatalogById" : {
			"name" : "GetCatalogById",
			"http" : {
				"method" : "GET",
				"requestUri" : "Catalogs\/{Id}"
			},
			"input" : {
				"shape" : "GetCatalogByIdInput"
			},
			"output" : {
				"shape" : "GetCatalogByIdOutput"
			}
		},
		"PostCatalog" : {
			"name" : "PostCatalog",
			"http" : {
				"method" : "POST",
				"requestUri" : "Catalogs"
			},
			"input" : {
				"shape" : "PostCatalogInput"
			},
			"output" : {
				"shape" : "PostCatalogOutput"
			}
		},
		"PostCatalogs" : {
			"name" : "PostCatalogs",
			"http" : {
				"method" : "POST",
				"requestUri" : "Catalogs\/PostList"
			},
			"input" : {
				"shape" : "PostCatalogsInput"
			},
			"output" : {
				"shape" : "PostCatalogsOutput"
			}
		},
		"GetProductById" : {
			"name" : "GetProductById",
			"http" : {
				"method" : "GET",
				"requestUri" : "Products\/{Id}"
			},
			"input" : {
				"shape" : "GetProductByIdInput"
			},
			"output" : {
				"shape" : "GetProductByIdOutput"
			}
		},
		"GetProducts" : {
			"name" : "GetProducts",
			"http" : {
				"method" : "GET",
				"requestUri" : "Products"
			},
			"input" : {
				"shape" : "GetProductsInput"
			},
			"output" : {
				"shape" : "GetProductsOutput"
			}
		},
		"PostProduct" : {
			"name" : "PostProduct",
			"http" : {
				"method" : "POST",
				"requestUri" : "Products"
			},
			"input" : {
				"shape" : "PostProductInput"
			},
			"output" : {
				"shape" : "PostProductOutput"
			}
		},
		"PatchProduct" : {
			"name" : "PatchProduct",
			"http" : {
				"method" : "PATCH",
				"requestUri" : "Products?ForeignId={ForeignId}"
			},
			"input" : {
				"shape" : "PatchProductInput"
			},
			"output" : {
				"shape" : "PatchProductOutput"
			}
		},
		"DeleteProduct" : {
			"name" : "PatchProduct",
			"http" : {
				"method" : "DELETE",
				"requestUri" : "Products?ForeignId={ForeignId}"
			},
			"input" : {
				"shape" : "DeleteProductInput"
			},
			"output" : {
				"shape" : "DeleteProductOutput"
			}
		},
		"DeleteLink" : {
			"name" : "DeleteLink",
			"http" : {
				"method" : "DELETE",
				"requestUri" : "Products\/{productForeignId}\/DeleteLink\/{catalogForeignId}"
			},
			"input" : {
				"shape" : "ProductDeleteLinkInput"
			},
			"output" : {
				"shape" : "ProductDeleteLinkOutput"
			}
		},
		"CreateLink" : {
			"name" : "CreateLink",
			"http" : {
				"method" : "POST",
				"requestUri" : "Products\/{productForeignId}\/CreateLink\/{catalogForeignId}"
			},
			"input" : {
				"shape" : "ProductCreateLinkInput"
			},
			"output" : {
				"shape" : "ProductCreateLinkOutput"
			}
		},
		"ReviseInventory" : {
			"name" : "ReviseInventory",
			"http" : {
				"method" : "POST",
				"requestUri" : "ReviseInventoryStatus"
			},
			"input" : {
				"shape" : "ReviseInventoryInput"
			},
			"output" : {
				"shape" : "ReviseInventoryOutput"
			}
		},
		"GetSalesOrdersById" : {
			"name" : "GetSalesOrdersById",
			"http" : {
				"method" : "GET",
				"requestUri" : "SalesOrders\/{Id}"
			},
			"input" : {
				"shape" : "GetSalesOrdersByIdInput"
			},
			"output" : {
				"shape" : "GetSalesOrdersByIdOutput"
			}
		},
		"GetNewSalesOrders" : {
			"name" : "GetNewSalesOrders",
			"http" : {
				"method" : "GET",
				"requestUri" : "SalesOrders"
			},
			"input" : {
				"shape" : "GetNewSalesOrdersInput"
			},
			"output" : {
				"shape" : "GetNewSalesOrdersOutput"
			}
		},
		"PatchSalesOrders" : {
			"name" : "PatchSalesOrders",
			"http" : {
				"method" : "PATCH",
				"requestUri" : "SalesOrders\/{Id}"
			},
			"input" : {
				"shape" : "PatchSalesOrdersInput"
			},
			"output" : {
				"shape" : "PatchSalesOrdersOutput"
			}
		},
		"PatchOptionalAttributes" : {
			"name" : "PatchOptionalAttributes",
			"http" : {
				"method" : "PATCH",
				"requestUri" : "OptionalProductAttributes?ForeignId={ForeignId}"
			},
			"input" : {
				"shape" : "PatchOptionalAttributesInput"
			},
			"output" : {
				"shape" : "PatchOptionalAttributesOutput"
			}
		}
	},
	"shapes" : {
		"DeleteCatalogByIdInput" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax",
					"location" : "uri",
					"locationName" : "Id"
				}
			},
			"required" : ["Id"]
		},
		"DeleteCatalogByIdOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "CatalogList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"DeleteCatalogByForeignIdInput" : {
			"type" : "structure",
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax60",
					"location" : "uri",
					"locationName" : "ForeignId"
				}
			},
			"required" : ["ForeignId"]
		},
		"DeleteCatalogByForeignIdOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "CatalogList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"GetCatalogByIdInput" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax",
					"location" : "uri",
					"locationName" : "Id"
				}
			},
			"required" : ["Id"]
		},
		"GetCatalogByIdOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "CatalogList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"GetCatalogsOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "CatalogList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PostCatalogInput" : {
			"type" : "structure",
			"required" : ["Name", "ForeignId"],
			"members" : {
				"Name" : {
					"shape" : "StringMin3Max30"
				},
				"IsRootLevel" : {
					"shape" : "Boolean"
				},
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"ChildCatalogs" : {
					"shape" : "CatalogList"
				}
			}
		},
		"PostCatalogOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "CatalogList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PostCatalogsInput" : {
			"type" : "list",
			"member" : {
				"shape" : "PostCatalogInput"
			}
		},
		"PostCatalogsOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "CatalogList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"Catalog" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax"
				},
				"Name" : {
					"shape" : "StringMin3Max30"
				},
				"IsRootLevel" : {
					"shape" : "Boolean"
				},
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"ChildCatalogs" : {
					"shape" : "CatalogList"
				}
			}
		},
		"CatalogList" : {
			"type" : "list",
			"member" : {
				"shape" : "Catalog"
			}
		},
		"PatchOptionalAttributesInput" : {
			"type" : "structure",
			"required" : ["ForeignId", "Name", "Value"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255",
					"location" : "uri",
					"locationName" : "ForeignId"
				},
				"Name" : {
					"shape" : "StringMax255"
				},
				"Value" : {
					"shape" : "StringMax255"
				}
			}
		},
		"PatchOptionalAttributesOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "OptionalAttributesList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PatchProductInput" : {
			"type" : "structure",
			"required" : ["ForeignId"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255",
					"location" : "uri"
				},
				"Title" : {
					"shape" : "StringMin3Max80"
				},
				"Description" : {
					"shape" : "StringNoMinMax"
				},
				"ShortDescription" : {
					"shape" : "StringMax2000"
				},
				"Price" : {
					"shape" : "Float"
				},
				"Ean" : {
					"shape" : "StringEan"
				},
				"Upc" : {
					"shape" : "StringUpc"
				},
				"Isbn" : {
					"shape" : "StringIsbn"
				},
				"StockAmount" : {
					"shape" : "IntegerMax999"
				}
			}
		},
		"PatchProductOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"GetProductsOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"Pagination" : {
					"shape" : "Paging"
				}
			}
		},
		"GetProductsInput" : {
			"type" : "structure",
			"members" : {
				"limit" : {
					"shape" : "IntegerMin1Max100Default100",
					"location" : "querystring",
					"locationName" : "EntriesPerPage"
				},
				"page" : {
					"shape" : "IntegerMin1NoMaxDefault1",
					"location" : "querystring",
					"locationName" : "PageNumber"
				}
			}
		},
		"ProductCreateLinkInput" : {
			"type" : "structure",
			"members" : {
				"productForeignId" : {
					"shape" : "StringNoMinMax",
					"location" : "uri",
					"locationName" : "productForeignId"
				},
				"catalogForeignId" : {
					"shape" : "Float",
					"location" : "uri",
					"locationName" : "catalogForeignId"
				}
			},
			"required" : ["productForeignId", "catalogForeignId"]
		},
		"ProductCreateLinkOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"ProductDeleteLinkInput" : {
			"type" : "structure",
			"members" : {
				"productForeignId" : {
					"shape" : "StringNoMinMax",
					"location" : "uri",
					"locationName" : "productForeignId"
				},
				"catalogForeignId" : {
					"shape" : "Float",
					"location" : "uri",
					"locationName" : "catalogForeignId"
				}
			},
			"required" : ["productForeignId", "catalogForeignId"]
		},
		"ProductDeleteLinkOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PostProductOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"DeleteProductInput" : {
			"type" : "structure",
			"required" : ["ForeignId"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255",
					"location" : "uri"
				}
			}
		},
		"DeleteProductOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"ProductList" : {
			"type" : "list",
			"member" : {
				"shape" : "Product"
			}
		},
		"Product" : {
			"type" : "structure",
			"required" : ["Title", "ForeignId", "Price", "StockAmount"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"Title" : {
					"shape" : "StringMin3Max80"
				},
				"Description" : {
					"shape" : "StringNoMinMax"
				},
				"ShortDescription" : {
					"shape" : "StringMax2000"
				},
				"Price" : {
					"shape" : "Float"
				},
				"Ean" : {
					"shape" : "StringEan"
				},
				"Upc" : {
					"shape" : "StringUpc"
				},
				"Isbn" : {
					"shape" : "StringIsbn"
				},
				"StockAmount" : {
					"shape" : "IntegerMax999"
				},
				"Images" : {
					"shape" : "ProductImageList"
				},
				"Specifics" : {
					"shape" : "ProductSpecificsList"
				}
			}
		},
		"GetProductByIdInput" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax",
					"location" : "uri",
					"locationName" : "Id"
				}
			},
			"required" : ["Id"]
		},
		"GetProductByIdOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "ProductList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PostProductInput" : {
			"type" : "structure",
			"required" : ["Title", "ForeignId", "Price", "StockAmount"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"Title" : {
					"shape" : "StringMin3Max80"
				},
				"Description" : {
					"shape" : "StringNoMinMax"
				},
				"ShortDescription" : {
					"shape" : "StringMax2000"
				},
				"Price" : {
					"shape" : "Float"
				},
				"Ean" : {
					"shape" : "StringEan"
				},
				"Upc" : {
					"shape" : "StringUpc"
				},
				"Isbn" : {
					"shape" : "StringIsbn"
				},
				"StockAmount" : {
					"shape" : "IntegerMax999"
				},
				"Images" : {
					"shape" : "ProductImageList"
				},
				"Specifics" : {
					"shape" : "ProductSpecificsList"
				},
				"Variations" : {
					"shape" : "ProductVariationsList"
				},
				"OptionalAttributes" : {
					"shape" : "OptionalAttributesList"
				},
				"UnitQuantity" : {
					"shape" : "Float"
				},
				"UnitType" : {
					"shape" : "String"
				}
			}
		},
		"ProductImageList" : {
			"type" : "list",
			"maxItems" : 1,
			"minItems" : 1,
			"member" : {
				"shape" : "ProductImage"
			}
		},
		"ProductImage" : {
			"type" : "structure",
			"required" : ["ImageUrl", "ForeignId", "Type"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"ImageUrl" : {
					"shape" : "Url"
				},
				"Type" : {
					"shape" : "IntegerMin1Max1"
				}
			}
		},
		"ProductSpecificsList" : {
			"type" : "list",
			"member" : {
				"shape" : "ProductSpecific"
			}
		},
		"ProductSpecific" : {
			"type" : "structure",
			"required" : ["ForeignId", "Name", "Value"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"Name" : {
					"shape" : "StringMax255"
				},
				"Value" : {
					"shape" : "StringMax255"
				}
			}
		},
		"ProductVariationsList" : {
			"type" : "list",
			"member" : {
				"shape" : "ProductVariation"
			}
		},
		"ProductVariation" : {
			"type" : "structure",
			"required" : ["ForeignId", "Price", "StockAmount", "Specifics"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"Price" : {
					"shape" : "Float"
				},
				"StockAmount" : {
					"shape" : "IntegerNoMinMax"
				},
				"Sku" : {
					"shape" : "StringMax255"
				},
				"ExternalProductId" : {
					"shape" : "IntegerNoMinMax"
				},
				"Specifics" : {
					"shape" : "ProductVariationSpecificsList"
				}
			}
		},
		"ProductVariationSpecificsList" : {
			"type" : "list",
			"member" : {
				"shape" : "ProductVariationSpecific"
			}
		},
		"ProductVariationSpecific" : {
			"type" : "structure",
			"required" : ["ForeignId", "Name", "Value"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"Name" : {
					"shape" : "StringMax255"
				},
				"Value" : {
					"shape" : "StringMax255"
				}
			}
		},
		"OptionalAttributesList" : {
			"type" : "list",
			"member" : {
				"shape" : "OptionalAttribute"
			}
		},
		"OptionalAttribute" : {
			"type" : "structure",
			"required" : ["ForeignId", "Name", "Value"],
			"members" : {
				"ForeignId" : {
					"shape" : "StringMax255"
				},
				"Name" : {
					"shape" : "StringMax255"
				},
				"Value" : {
					"shape" : "StringMax255"
				}
			}
		},
		"GetNewSalesOrdersInput" : {
			"type" : "structure",
			"members" : {
				"limit" : {
					"shape" : "IntegerMin1Max100Default100",
					"location" : "querystring",
					"locationName" : "EntriesPerPage"
				},
				"page" : {
					"shape" : "IntegerMin1NoMaxDefault1",
					"location" : "querystring",
					"locationName" : "PageNumber"
				}
			}
		},
		"GetNewSalesOrdersOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "SalesOrderList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"Pagination" : {
					"shape" : "Paging"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"GetSalesOrdersByIdInput" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax",
					"location" : "uri",
					"locationName" : "Id"
				}
			},
			"required" : ["Id"]
		},
		"GetSalesOrdersByIdOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "SalesOrderList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PatchSalesOrdersOutput" : {
			"type" : "structure",
			"members" : {
				"EntityList" : {
					"shape" : "SalesOrderList"
				},
				"Messages" : {
					"shape" : "MessageList"
				},
				"StatusCode" : {
					"shape" : "IntegerNoMinMax",
					"location" : "statusCode"
				}
			}
		},
		"PatchSalesOrdersInput" : {
			"type" : "structure",
			"members" : {
				"ShippingStatus" : {
					"shape" : "IntegerMin0Max2"
				},
				"ForeignOrderId" : {
					"shape" : "StringMax50"
				},
				"PaidAmount" : {
					"shape" : "Float"
				},
				"PaidDate" : {
					"shape" : "TimestampType"
				},
				"Id" : {
					"shape" : "IntegerNoMinMax",
					"location" : "uri",
					"locationName" : "Id"
				}
			},
			"required" : ["Id"]
		},
		"SalesOrderList" : {
			"type" : "list",
			"member" : {
				"shape" : "SalesOrder"
			}
		},
		"SalesOrder" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax"
				},
				"Buyer" : {
					"shape" : "BuyerType"
				},
				"SalesOrderItems" : {
					"shape" : "SalesOrderItemList"
				},
				"CreationDate" : {
					"shape" : "TimestampType"
				},
				"TotalPrice" : {
					"shape" : "Float"
				},
				"CurrencyCode" : {
					"shape" : "StringMax5"
				},
				"ItemCount" : {
					"shape" : "IntegerNoMinMax"
				},
				"TotalAmount" : {
					"shape" : "IntegerNoMinMax"
				},
				"PlatformName" : {
					"shape" : "StringMax50"
				},
				"BuyerId" : {
					"shape" : "IntegerNoMinMax"
				},
				"AddressId" : {
					"shape" : "IntegerNoMinMax"
				},
				"ShippingAddressId" : {
					"shape" : "IntegerNoMinMax"
				},
				"CheckoutStatus" : {
					"shape" : "IntegerMin0Max1"
				},
				"CheckoutCompletionDate" : {
					"shape" : "TimestampType"
				},
				"PaymentStatus" : {
					"shape" : "StringMax50"
				},
				"PaymentOption" : {
					"shape" : "StringMax50"
				},
				"ShippingService" : {
					"shape" : "StringMax255"
				},
				"BuyerCheckoutMessage" : {
					"shape" : "StringNoMinMax"
				},
				"ShippingStatus" : {
					"shape" : "IntegerMin0Max2"
				},
				"ShippingServiceCost" : {
					"shape" : "Float"
				},
				"PaymentTransactionId" : {
					"shape" : "StringMax255"
				},
				"MarkedAsPayed" : {
					"shape" : "Boolean"
				},
				"MarkedAsShipped" : {
					"shape" : "Boolean"
				},
				"ForeignOrderId" : {
					"shape" : "StringMax50"
				},
				"PaidAmount" : {
					"shape" : "Float"
				},
				"PaidDate" : {
					"shape" : "TimestampType"
				},
				"ModificationDate" : {
					"shape" : "TimestampType"
				},
				"PlatformOrderId" : {
					"shape" : "StringMax255"
				},
				"EbayModificationDate" : {
					"shape" : "TimestampType"
				},
				"BuyerPackageEnclosure" : {
					"shape" : "StringMax4000"
				},
				"Address" : {
					"shape" : "AddressType"
				},
				"ShippingAddress" : {
					"shape" : "AddressType"
				}
			}
		},
		"AddressType" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax"
				},
				"Type" : {
					"shape" : "IntegerNoMinMax"
				},
				"Name" : {
					"shape" : "StringMax255"
				},
				"Surname" : {
					"shape" : "StringMax255"
				},
				"Street" : {
					"shape" : "StringMax255"
				},
				"Addition" : {
					"shape" : "StringMax255"
				},
				"PostalCode" : {
					"shape" : "StringMax50"
				},
				"Town" : {
					"shape" : "StringMax255"
				},
				"Country" : {
					"shape" : "StringMax255"
				},
				"State" : {
					"shape" : "StringMax255"
				},
				"Salutation" : {
					"shape" : "StringMax255"
				},
				"Phone" : {
					"shape" : "StringMax255"
				},
				"Email" : {
					"shape" : "StringMax255"
				}
			}
		},
		"BuyerType" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax"
				},
				"BuyerName" : {
					"shape" : "StringMax255"
				}
			}
		},
		"SalesOrderItemList" : {
			"type" : "list",
			"member" : {
				"shape" : "SalesOrderItem"
			}
		},
		"SalesOrderItem" : {
			"type" : "structure",
			"members" : {
				"Id" : {
					"shape" : "IntegerNoMinMax"
				},
				"SalesOrderId" : {
					"shape" : "IntegerNoMinMax"
				},
				"CreationDate" : {
					"shape" : "TimestampType"
				},
				"Amount" : {
					"shape" : "IntegerNoMinMax"
				},
				"Price" : {
					"shape" : "Float"
				},
				"CurrencyCode" : {
					"shape" : "StringMax5"
				},
				"Name" : {
					"shape" : "StringMax255"
				},
				"PlatformName" : {
					"shape" : "StringMax50"
				},
				"ShippingStatus" : {
					"shape" : "IntegerMin0Max1"
				},
				"TrackingNumbers" : {
					"shape" : "StringMax255"
				},
				"CarrierUsed" : {
					"shape" : "StringMax255"
				},
				"ProductId" : {
					"shape" : "IntegerNoMinMax"
				},
				"ForeignId" : {
					"shape" : "IntegerNoMinMax"
				},
				"TransactionId" : {
					"shape" : "IntegerNoMinMax"
				},
				"PlatformItemId" : {
					"shape" : "IntegerNoMinMax"
				},
				"ShippingDate" : {
					"shape" : "TimestampType"
				},
				"FeedbackStatus" : {
					"shape" : "IntegerNoMinMax"
				},
				"ModificationDate" : {
					"shape" : "TimestampType"
				},
				"PlatformOrderId" : {
					"shape" : "StringMax255"
				},
				"SalesDate" : {
					"shape" : "TimestampType"
				}
			}
		},
		"MessageList" : {
			"type" : "list",
			"member" : {
				"shape" : "Message"
			}
		},
		"Message" : {
			"type" : "structure",
			"members" : {
				"Code" : {
					"shape" : "StringMax255"
				},
				"Severity" : {
					"shape" : "StringMax255"
				},
				"Message" : {
					"shape" : "StringMax2000"
				},
				"Description" : {
					"shape" : "StringMax2000"
				}
			}
		},
		"Paging" : {
			"type" : "structure",
			"members" : {
				"EntriesPerPage" : {
					"shape" : "IntegerNoMinMax"
				},
				"PageNumber" : {
					"shape" : "IntegerNoMinMax"
				},
				"TotalNumberOfPages" : {
					"shape" : "IntegerNoMinMax"
				},
				"TotalNumberOfEntries" : {
					"shape" : "IntegerNoMinMax"
				},
				"HasPreviousPage" : {
					"shape" : "Boolean"
				},
				"HasNextPage" : {
					"shape" : "Boolean"
				}
			}
		},
		"ReviseInventoryInput" : {
			"type" : "structure",
			"members" : {
				"productId" : {
					"shape" : "IntegerNoMinMax",
					"location" : "querystring",
					"locationName" : "productId"
				},
				"price" : {
					"shape" : "Float",
					"location" : "querystring",
					"locationName" : "price"
				},
				"stockAmount" : {
					"shape" : "IntegerNoMinMax",
					"location" : "querystring",
					"locationName" : "stockAmount"
				},
				"productVariationId" : {
					"shape" : "IntegerNoMinMax",
					"location" : "querystring",
					"locationName" : "productVariationId"
				},
				"discountOfferPrice" : {
					"shape" : "Float",
					"location" : "querystring",
					"locationName" : "discountOfferPrice"
				}
			},
			"required" : ["productId"]
		},
		"Boolean" : {
			"type" : "boolean"
		},
		"Float" : {
			"type" : "float"
		},
		"String" : {
			"type" : "string"
		},
		"IntegerNoMinMax" : {
			"type" : "integer"
		},
		"IntegerMin0Max1" : {
			"type" : "integer",
			"min" : 0,
			"max" : 1
		},
		"IntegerMin0Max2" : {
			"type" : "integer",
			"min" : 0,
			"max" : 2
		},
		"IntegerMin1Max1" : {
			"type" : "integer",
			"min" : 1,
			"max" : 1
		},
		"IntegerMin1Max100Default100" : {
			"type" : "integer",
			"min" : 1,
			"max" : 100,
			"default" : 50
		},
		"IntegerMin1NoMaxDefault1" : {
			"type" : "integer",
			"min" : 1,
			"default" : 1
		},
		"IntegerMax999" : {
			"type" : "integer",
			"min" : 0,
			"max" : 999
		},
		"StringEan" : {
			"type" : "string",
			"pattern" : "#\\b[\\d\\-]{3,18}\\b#"
		},
		"StringUpc" : {
			"type" : "string",
			"pattern" : "#^(\\d{8}|\\d{12,14})$#"
		},
		"StringIsbn" : {
			"type" : "string",
			"pattern" : "#\\b(?:ISBN(?:: ?| ))?((?:97[89])?\\d{9}[\\dx])\\b#i"
		},
		"StringNoMinMax" : {
			"type" : "string"
		},
		"StringMin3Max30" : {
			"type" : "string",
			"min" : 3,
			"max" : 30
		},
		"StringMin3Max80" : {
			"type" : "string",
			"min" : 3,
			"max" : 80
		},
		"StringMax5" : {
			"type" : "string",
			"min" : 1,
			"max" : 5
		},
		"StringMax50" : {
			"type" : "string",
			"min" : 1,
			"max" : 50
		},
		"StringMax2000" : {
			"type" : "string",
			"max" : 2000
		},
		"StringMax255" : {
			"type" : "string",
			"max" : 255
		},
		"StringMax60" : {
			"type" : "string",
			"max" : 60
		},
		"StringMax4000" : {
			"type" : "string",
			"max" : 4000
		},
		"TimestampType" : {
			"type" : "timestamp"
		},
		"Url" : {
			"type" : "string",
			"max" : 255,
			"pattern" : "#^(https?:\\\/\\\/)?([\\da-z\\.-]+)\\.([a-z\\.]{2,6})([\\\/\\w \\.-]*)*\\\/?$#",
			"filters" : [{
					"method" : "Respect\\Validation\\Validator::url",
					"args" : [true, "@value"]
				}
			]
		}
	}
}
